
a:hover {
    text-decoration: none;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 10px;
    transition: 100ms linear;
}

.icon:hover {
    transform: scale(1.4);
    cursor: pointer;
    color: rgb(92, 184, 92);
}

.card-img {
    height: 100%;
    object-fit: cover;
    object-position: top;
}
